<div class="row mt-2">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <img src="/img/user-placeholder.png" class="rounded-circle mx-auto d-block mb-3">

                <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">@{{user.handle}}</h6>

                <div class="stats">
                    <div class="stat">
                        <small>Followers</small>
                        <div>{{arrayItemCount user.followers}}</div>
                    </div>
                    <div class="stat">
                        <small>Following</small>
                        <div>{{arrayItemCount user.following}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        {{> _msg}}

        <form action="tweets/tweet" method="POST" class="mb-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="What's happening?" name="text" autocomplete="off">
                <div class="input-group-append">
                    <input class="btn btn-primary" type="submit" value="Tweet"></input>
                </div>
            </div>
        </form>

        {{> _tweets}}
    </div>
</div>