<div class="row mt-2">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <img src="/img/user-placeholder.png" class="rounded-circle mx-auto d-block mb-3">

                <h5 class="card-title">{{profileOwner.firstName}} {{profileOwner.lastName}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">@{{profileOwner.handle}}</h6>

                <div class="stats">
                    <div class="stat">
                        <small>Followers</small>
                        <div>{{arrayItemCount profileOwner.followers}}</div>
                    </div>
                    <div class="stat">
                        <small>Following</small>
                        <div>{{arrayItemCount profileOwner.following}}</div>
                    </div>
                </div>

                {{#if user}}
                    {{{generateFollowButton user profileOwner}}}
                {{/if}}
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        {{> _tweets}}
    </div>
</div>